.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc
.eslintrc.js
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
!out/**/*.js
!out/presentation/webview/**
node_modules/**
!node_modules/@kstonekuan/**
coverage/**
**/__tests__/**
**/*.test.ts
docs/**
.github/**
