.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc
.eslintrc.js
tsconfig.json
webpack.config.js
**/*.map
**/*.ts
!out/**/*.js
!out/presentation/webview/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.*.yml
node_modules/**/.*.yaml
coverage/**
**/__tests__/**
**/*.test.ts
docs/**
.github/**
promptimize-*.vsix
